body {
    background-image: url("bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-slate-grey {
    background-color: #878eac;
}

.bg-pink {
    background-color: #f3e3eb;
}

.text-pink {
    color: #f3e3eb;
}

.btn-outline-slate-grey {
    background-color:#878eac;
}

.card-row {
    margin-right: 1%;
}

.btn:hover{
    background-color: #656b83;
}
